<form [formGroup]="surveyForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create new survey.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Question" formControlName="question">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let formControl of [].constructor(answersCount); let i = index;">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Answer {{i+1}}" formControlName="answer">
          </mat-form-field>
        </div>        
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addAnswer()">Add answer</button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!surveyForm.valid">Create</button>
    </mat-card-actions>
  </mat-card>
</form>
